.cvBlock {
  display: flex;
  justify-content: center;

  .cv {
    top: 0;
    width: 794px;
    min-height: 1080px;
    height: fit-content;
    background-color: white;

    display: flex;
    position: sticky;

    .main {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0 22px;
    }
  }
}
