.cvBlock {
  display: flex;
  justify-content: center;
  padding: 16px;

  .cv {
    top: 0;
    width: 794px;
    height: 1123px;
    background-color: white;
    // padding: 20px;
    display: flex;
    position: sticky;

    .main {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0 22px;
    }
  }
}
