@import "/src/scss/variables.scss";

.header {
  min-height: 264px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  .name {
    font-size: 32px;
    font-weight: 800;
  }

  .title {
    font-size: 18px;
  }
  .text {
    white-space: normal;
  }
}
