@import "/src/scss/variables.scss";

.app {
  display: flex;
  flex-direction: column;

  .main {
    display: flex;
    background-color: $bg-color;
    position: relative;
    padding: 16px;
    gap: 16px;
  }
}
